html
  head
    title= title
  body
    h1= message
    form(name="add-estimation",action="/", method="post")
        div.input
            span.label Gene Id:
            input(type="text", name="gene_id")
        div.actions
            input(type="submit", value="add")
    hr
    span.label Gene Id:
    p= geneId
    span.label Chrom Number:
    p= chrom
    span.label Pos:
    p= pos
    hr
